$width: 70vw;
$input-width: 30vw;

md-input-container {
    min-width: $input-width;
}

md-dialog-content {
    width: $width;
}

#buttonGroup {
    float: right;
}

#create {
    margin: 1em 0;
}

.event {
    height: 2em;
    line-height: 2em;
    margin-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin-left: 0.5em;
        color: white;
    }
}

.gridText {
    position: absolute;
    left: 0.5em;
    top: 25%;
}