<h2 *ngIf="!isToday()">{{events.length}} {{getSessionText()}} on {{data.day.date | date:'longDate'}}</h2>
<h2 *ngIf="isToday()">{{events.length}} {{getSessionText()}} today</h2>
<p *ngIf="events.length>0">All dates are displayed in your local time</p>

<md-dialog-content>
  <md-grid-list *ngIf="events.length>0" [cols]="cols" rows="1" rowHeight="2.5em">
    <md-grid-tile *ngFor="let time of times"><span class="gridText">{{time}}</span></md-grid-tile>
  </md-grid-list>

  <div *ngFor="let event of events" [style.margin-left]="getMargin(event) + '%'" [style.width]="getWidth(event) + '%'"
    class="event" [style.background]="event.color.primary" mdTooltip="{{event.title}} from {{event.start | date:'jm'}} to {{event.end | date:'jm'}}{{getNote(event)}}" [mdTooltipPosition]="'after'">
    <span *ngIf="!isTwitterHandle(event.title)">{{event.title | titlecase}}</span>
    <a *ngIf="isTwitterHandle(event.title)" [href]="'http://twitter.com/' + getTwitterHandle(event.title)">{{event.title | lowercase}}</a>
  </div>

  <div *ngIf="events.length===0 && !isPast()">
    <h4>No sessions yet, create one below!</h4>
  </div>
  <button *ngIf="!isPast()" id="create" (click)="create()" md-raised-button color="primary">Create new session</button>

  <div *ngIf="!isPast() && events.length>0 && api.deletesEnabled">
    <h3 md-subheader>Delete a session</h3>
    <md-input-container>
      <input [(ngModel)]="deletionKey" mdInput placeholder="Enter your deletion key" />
    </md-input-container>
  </div>
</md-dialog-content>

<div id="buttonGroup">
  <button *ngIf="deletionKey.length>0" (click)="delete()" md-button>Delete</button>
  <button (click)="done()" md-button>Done</button>
</div>