<h2>New Game</h2>

<md-dialog-content>
  <md-input-container>
    <input [(ngModel)]="name" mdInput placeholder="Name" required />
  </md-input-container>
  <md-divider></md-divider>

  <h3 md-subheader>Link</h3>
  <md-input-container>
    <input [(ngModel)]="link" mdInput placeholder="Download link for this game" required />
  </md-input-container>
  <md-divider></md-divider>

  <h3 md-subheader>Banner image</h3>
  <md-input-container>
    <input [(ngModel)]="image" mdInput placeholder="Image link for this game" />
  </md-input-container>
  <md-divider></md-divider>

  <h3 md-subheader>Description</h3>
  <md-input-container>
    <textarea [(ngModel)]="desc" mdInput placeholder="Describe this game" required></textarea>
  </md-input-container>
  <md-divider></md-divider>

  <h3 md-subheader>Tags</h3>
  <md-input-container>
    <input mdInput (keyup.enter)="addTag(tagCtrl.value)" placeholder="Press enter to add tags" [mdAutocomplete]="auto" [formControl]="tagCtrl" />
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let tag of filteredTags | async" (onSelectionChange)="addTag(tag)" [value]="tag">
        {{tag}}
    </md-option>
  </md-autocomplete>

  <div id=tags>
    <md-chip-list>
      <md-chip *ngFor="let tag of tags" (click)="removeTag(tag)" color="accent" selected="true" class="removable">
        {{tag | lowercase}} 
      </md-chip>
    </md-chip-list>
  </div>

  <h3 md-subheader>Platforms</h3>
  <md-checkbox *ngFor="let name of platformNames; let i = index" [checked]="platforms[i]" (change)="platforms[i] = !platforms[i]">{{name}}</md-checkbox>
  <md-divider></md-divider>
</md-dialog-content>

<div id="buttonGroup">
  <button (click)="addGame()" md-button>Add Game</button>
  <button (click)="cancel()" md-button>Cancel</button>
</div>