<div id="chat">
  <br>

  <div class="thread" style="cursor: pointer" (click)="showPosts = !showPosts">
    <h3 class="thread-head">
      <md-chip color="primary" selected="true">
        <div class="num-replies">
          <span>{{thread.posts.length}} {{thread.posts.length!=1 ? "Replies" : "Reply"}}</span>
          <md-icon>{{showPosts ? "visibility" : "visibility_off"}}</md-icon>
        </div>
      </md-chip>           
      {{thread.title}}
    </h3>     
    <p class="faded post-info">
      <md-icon>face</md-icon>
      <span>{{thread.name}} on {{thread.date | date: 'medium'}}</span>
    </p>       
    <hr>
    <p class="post-text">{{thread.text}}</p>
    <div class="thread-info">
      <button class="thread-info" (click)="report(true, thread.text)" md-button>Report</button>      
    </div>
  </div>

  <div *ngIf="showPosts">
    <app-post *ngFor="let post of thread.posts" [post]="post" (report)="report(false, $event.text)"></app-post>
    <app-reply [mode]="1" (submit)="addPost($event)"></app-reply>      
  </div>
</div>