@import '../../styles.scss';

$width: 90vw;

md-icon {
  margin-right: 0.25em;
  color: #666;
}

md-chip {
  margin-right: 0.75em;
  cursor: pointer;

  md-icon {
    margin-left: 0.25em;    
    margin-right: 0;    
    color: white;
  }
}

hr {
  border-top: #e0e0e0;
}

#chat {
  // text-align: center;
  width: $width;
  // margin: auto;
}

.thread-head {
  display: flex;
  align-items: center;  
}

.thread {
  text-align: left;
  padding: 1em;
  background: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  border-bottom: 3px solid mat-color($dangle-primary);
  transition: all 0.2s;
  margin-bottom: 1em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.thread:hover {
  background: #f4f4f4;
}

.thread-info {
  color: mat-color($dangle-primary);
  
  button {
    color: mat-color($dangle-primary);    
  }

  md-icon {
    color: mat-color($dangle-primary);
  }
}

.num-replies {
  display: flex;
  align-items: center;
}

.post {
  @extend .thread;
  margin-left: 5%;
  border-bottom: 2px solid mat-color($dangle-primary);    
}

.post-info {
  display: flex;
  align-items: center;
}

.post-text {
  background: #e0e0e0;
  padding: 1em;
  word-wrap: break-word; 
}

.reply {
  @extend .post;
  border-bottom: none;
}