<span>
  <md-toolbar color="primary">
    <span id="app-title" (click)="goHome()">Dangle</span>
</md-toolbar>
</span>

<div *ngIf="game" id="container">
  <div id="picture">    
    <img [src]="game.image" (error)="handleBannerError($event)" >
    <div><span class="report-edit" (click)="openReportEditDialog()">Report game or request changes</span></div>
  </div>

  <div id="info">
    <div id="info-wrapper">
      <div>
        <span *ngIf="game.nsfw" class="nsfw">NSFW</span>
        <h1>{{game.name | titlecase}}</h1>
      </div>

      <p><a [href]="game.link">{{game.link.split('//')[1]}}</a></p>

      <p class="faded">{{game.desc}}</p>
      <br>

      <div *ngIf="game.communityLinks && game.communityLinks.length>0">
        <h3>Community links</h3>
        <div class="communities">
            <div *ngFor="let community of game.communityLinks" class="community">
              <img mdTooltip="{{community.type}}" 
              mdTooltipPosition="above" class="communityIcon" [src]="'assets/img/' + community.type + '.png'">
              <a [href]="community.link" target="_blank">{{community.link}}</a>
            </div>
        </div>
      </div>

      <h3 *ngIf="game.platforms.indexOf(true)!==-1">Available on</h3>
      <span *ngFor="let platform of game.platforms; let i = index">
        <img *ngIf="platform" mdTooltip="{{api.platformNames[i]}}" 
        mdTooltipPosition="above" class="platform" [src]="'assets/img/' + api.platformNames[i] + '.png'">
      </span>
     
      <h3 *ngIf="game.tags.length>0">Tags</h3>
      <span *ngFor="let tag of game.tags; let i = index"><a class="tagLink" href="#">{{tag}}</a>{{i===game.tags.length-1 ? '' : ', '}}</span>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="calendar">
  <div>
    <h2>{{date | date:'MMMM yyyy' }}</h2>
    <p class="faded">Click a day to view its sessions or to create a new one</p>
  </div>
  <br>

  <mwl-calendar-month-view 
    [viewDate]="date" 
    [events]="events" 
    (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>

  <br>
  <div>
    <h2>{{threads.length}} {{threads.length==1 ? "Discussion" : "Discussions"}}</h2>   
    <p class="faded">{{threads.length!=0 ? "Click a thread to reply and/or show replies" : "No discussions yet, why not start one?"}}</p>    
    <span class="primary-text" (click)="toggleNewThread()">
      <button md-button>+ New Thread</button>
    </span>    
    <div *ngIf="newThread">
      <app-reply [mode]="0" (submit)="addNewThread($event)" (cancel)="toggleNewThread()"></app-reply>
    </div>
  </div>
  <app-chat *ngFor="let thread of threads; let i = index" [thread]="thread"></app-chat>
</div>
