<span>
  <md-toolbar color="primary">
    <span id="app-title" (click)="goHome()">Dangle</span>
</md-toolbar>
</span>

<div *ngIf="game" id="container">
  <div id="picture">
    <img [src]="game.image">
  </div>

  <div id="info">
    <div id="info-wrapper">
      <h1>{{game.name | titlecase}}</h1>

      <p><a [href]="game.link">{{game.link.split('//')[1]}}</a></p>

      <p class="faded">{{game.desc}}</p>
      <br>

      <h3>Available on</h3>
      <span *ngFor="let platform of game.platforms; let i = index">
        <img *ngIf="platform" mdTooltip="{{platforms[i] | titlecase}}" 
        mdTooltipPosition="above" class="platform" [src]="'assets/img/' + platforms[i] + '.png'">
      </span>
     
      <h3>Tags</h3>
      <span *ngFor="let tag of game.tags; let i = index"><a class="tagLink" href="#">{{tag}}</a>{{i===game.tags.length-1 ? '' : ', '}}</span>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="calendar">
  <div style="text-align: center">
    <h2 class="faded">{{date | date:'MMMM yyyy' }}</h2>
    <p class="faded">Click a day to view its sessions or to create a new one</p>
  </div>
  <br>

  <mwl-calendar-month-view 
    [viewDate]="date" 
    [events]="events" 
    (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>
</div>