@import url('~https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import '~angular-calendar/dist/css/angular-calendar.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dangle-primary: mat-palette($mat-pink, 500, 50);
$dangle-accent: mat-palette($mat-grey, 900, 200);
$dangle-warn: mat-palette($mat-pink, 800);

// Create the theme object (a Sass map containing all of the palettes).
$dangle-theme: mat-light-theme($dangle-primary, $dangle-accent, $dangle-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dangle-theme);

body {
    background: mat-color($dangle-accent, lighter);
    margin: 0;
    font-family: Roboto, sans-serif;
}

md-card {
    $width: 320px;
    $height: 240px;

    min-width: $width;
    max-width: $width;
    margin: 0.5em;
    background: mat-color($dangle-accent) !important;

    img {
        min-height: $height;
        max-height: $height;
    }
}

md-card-header {
    text-align: left;
}

md-card-content {
    margin: 0 !important;
    color: mat-color($dangle-accent, lighter);

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
}

md-toolbar-row {
    justify-content: space-between;
}

button {
    text-transform: uppercase;
}

md-chip {
    max-width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.8;
}

md-grid-tile {
    background: mat-color($dangle-primary);
    color: white;
    font-weight: bold;
}

a:any-link {
    text-decoration: none;
    color: mat-color($dangle-primary);
}

#app-title {
    margin: 0 auto;
}

.removable {
    cursor: pointer;
}

.primary-text {
    color: mat-color($dangle-primary);
}

.faded {
    color: #616161;
}

// Calendar styles
.cal-month-view .cal-day-cell.cal-today {
    background-color: #e4e4e4 !important; 
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: mat-color($dangle-primary) !important; }

.cal-month-view .cal-day-badge {
    background-color: mat-color($dangle-primary) !important;
}

.cal-month-view {
    cursor: pointer;
}

.nsfw {
    background: #fc2448;
    padding: 4px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 0.75rem;
}

.report-edit {
  color: mat-color($dangle-primary);
  cursor: pointer;
}

.report-edit:hover {
  text-decoration: underline;
}