<span>
  <md-toolbar color="primary">
    <span id="app-title">Dangle <a class="beta" href="https://github.com/sekaru/Dangle/blob/master/README.md">beta</a></span>
  </md-toolbar>
</span>

<div id="searchbox">
  <p id="intro">
    Dangle is a tool for finding and scheduling sessions with other players for small multiplayer games.
    <br>Find a game below or add your own to get started!
  </p>

  <md-input-container id="search">
    <input [(ngModel)]="search" mdInput placeholder="Search (by game or tags)..." />
  </md-input-container>

  <button *ngFor="let sort of sortOptions; let i = index" (click)="clickSortMode(i)" [disabled]="i===sortMode" md-button>{{sort}}</button>
</div>

<div *ngIf="games.length>0" id="cards">
  <md-card *ngFor="let game of getGames(); let i = index">
    <img (click)="clickGame(game)" md-card-image [src]="game.image">

    <md-card-content>
      <p (click)="clickGame(game)" class="gameName">
        <strong>{{game.name | titlecase}}</strong>
        <br>
        {{game.desc | lowercase}}
      </p>
    </md-card-content>

    <md-chip-list id="chips">
      <md-chip color="primary" selected="true" [mdTooltip]="getEventTooltip(game)" mdTooltipPosition="above">{{getEventCount(game)}}</md-chip>
      <md-chip *ngFor="let tag of getTags(game)" [ngClass]="isMoreTag(tag) ? 'lastTag' : ''" (click)="searchByTag(tag, game)" color="accent" selected="true">{{tag | lowercase}}</md-chip>
    </md-chip-list>
  </md-card>
</div>

<button id="add" (click)="openDialog()" md-fab mdTooltip="Add new game" mdTooltipPosition="after" color="primary"><md-icon>add</md-icon></button>