h2 {
    text-transform: uppercase;
}

md-card {
    img {
        cursor: pointer;
    }
}

#intro {
    font-size: 1.25rem;
    color: gray;
}

#add {
    bottom: 12px;
    left: 12px;
    position: fixed;
}

#searchbox {
    text-align: center;
    padding: 1em;
}

#search {
    display: block;
    padding: 1em;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0.5em 0;
}

#chips {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 100%;
    font-weight: bold;
    color: white;
}

.gameName {
    text-align: center;
    cursor: pointer;
}

.tag {
    cursor: pointer;
}

.beta {
    color: white;
    font-size: 0.75rem;
}

.beta:hover {
    text-decoration: underline;
}