h2 {
    text-transform: uppercase;
}

md-card {
    img {
        cursor: pointer;
    }
}

#intro {
    line-height: 1.75rem;
    font-size: 1.25rem;
    color: gray;

    @media only screen and (max-width: 768px) {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

#add {
    bottom: 12px;
    left: 12px;
    position: fixed;
}

#intro-container {
    text-align: center;
    padding: 1em;
}

#search-container {
    display: flex;
    justify-content: center;
}

#search {
    width: 90%;
    padding-right: 1em;
}

#filters-btn {
    width: 5%;
    font-size: 0.75rem !important;
    padding: 0;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0.5em 0;
}

#chips {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 100%;
    font-weight: bold;
    color: white;
}

#no-games {
    text-align: center;
    margin: 10vh 0;
    color: lightgray;
    font-size: 1.5rem;
}

#sort-container {
    display: flex;

    @media only screen and (max-width: 768px) {
        justify-content: center;   

        .mat-button {
            font-size: 0.75rem !important;
        }
    }
}

#footer {
    margin-bottom: 12px;
    color: gray;
    text-align: center;
    font-size: 0.75rem;
}

#beta {
    color: white;
    font-size: 0.75rem;
}

.gameName {
    text-align: center;
    cursor: pointer;
}

.tag {
    cursor: pointer;
}

.beta:hover {
    text-decoration: underline;
}