<h2>New Session on {{data.day.date | date}}</h2>

<md-dialog-content>
  <md-input-container>
    <input [(ngModel)]="name" mdInput placeholder="Your name/username" required />
  </md-input-container>
  <md-divider></md-divider>

  <h3 md-subheader>Note</h3>
  <md-input-container>
    <input [(ngModel)]="note" mdInput placeholder="Add a note about this session" />
  </md-input-container>
  <md-divider></md-divider>

  <h3 md-subheader>Starting at</h3>
  <md-select placeholder="hh" [(ngModel)]="startHour" required>
    <md-option *ngFor="let hour of hours" [value]="hour">
      {{ hour<10 ? '0' + hour : hour }}
    </md-option>
  </md-select>
  :
  <md-select placeholder="mm" [(ngModel)]="startMins" required>
    <md-option *ngFor="let min of mins" [value]="min">
      {{ min===0 ? '00' : min }}
    </md-option>
  </md-select>
  <md-divider></md-divider>

  <h3 md-subheader>Duration</h3>
  <md-select placeholder="Hour(s)" [(ngModel)]="addHours" required>
    <md-option *ngFor="let hour of durHours" [value]="hour">
      {{ hour }}
    </md-option>
  </md-select>
  :
  <md-select placeholder="Minutes" [(ngModel)]="addMins" required>
    <md-option *ngFor="let min of durMins" [value]="min">
      {{ min===0 ? '00' : min }}
    </md-option>
  </md-select>
  <md-divider></md-divider>
  <br>

  <div *ngIf="api.deletesEnabled">
    <h3 md-subheader>Deletion key: <span class="primary-text">HA674</span></h3>
    <p class="info">Use this key if you need to delete this session in the future</p>
  </div>
</md-dialog-content>

<div id="buttonGroup">
  <button (click)="addEvent()" md-button>Add Event</button>
  <button (click)="cancel()" md-button>Cancel</button>
</div>